@font-face {
  font-family: montseBold;
  src: url("../assets/Montserrat-Medium.ttf");
}
/* Container */
.container {
  font-family: montseBold;
  width: 100%;
  min-height: 135px;
  display: flex;
  justify-content: space-between;
  
}
.containerDay {
  color: #eff0ff;
}
.containerNight {
  color: #3d3e44;
}
/* Container */
/* Title */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.title .linkTitle {
  cursor: pointer;
  padding: 18px;
  margin: 0;
  font-size: 1.7rem;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  
  
  
}


.title .linkTitle:before {
  content: "";
  position: relative;
  display: block;
  top: 33px;
  height: 2px;
  max-width: 0;
  transition: transform 0.3s ease;
  transition: max-width 0.6s cubic-bezier(0.25, 0, 0, 1);
}
.title .linkTitle:hover:before {
  max-width: 200px;
}
.titleDay .linkTitle:before {
  background-color: #121213;
}
.titleNight .linkTitle:before {
  background-color: #ececec;
}
.titleDay .linkTitle {
  color: #121213;
}
.titleNight .linkTitle {
  color: #ececec;
}
/* Title */
/* Nav Desktop */
.nav ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 700px;
}
.nav ul li {
  font-size: 1.1rem;
  padding: 18px;
  margin: 0;
  transition: color 0.3s ease;
}
.nav .linksDesktop:before {
  content: "";
  position: relative;
  display: block;
  top: 25px;
  height: 2px;
  max-width: 0;
  transition: transform 0.3s ease;

  transition: max-width 0.6s cubic-bezier(0.25, 0, 0, 1);
}
.nav .linksDesktop:hover:before {
  max-width: 200px;
}
.navNight .linksDesktop:before {
  background-color: #ececec;
}
.navNight .linksDesktop {
  color: #c4c4c4;
}
.navNight .linksDesktop:hover {
  transition: color 0.6s ease;
  color: #ececec;
}
.navDay .linksDesktop:before {
  background-color: #121213;
}
.navDay .linksDesktop {
  color: #3d3e44;
}
.navDay .linksDesktop:hover {
  transition: color 0.6s ease;
  color: #121213;
}
/* Nav Desktop */
.linksDesktop {
  text-decoration: none;
  cursor: pointer;
}

/* Burguer Button */

.burguerNav {
  position: absolute;
  flex-direction: column;
  right: 0;
  top: 135px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
.burguerActive {
  display: flex;
}
.burguerNotActive {
  display: none;
}
.burguerNav ul {
  overflow-x: hidden;
  display: -webkit-box;
  scroll-behavior: smooth;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 500px;
  opacity: 1;
  animation: transitionButton 0.3s ease;
}
@keyframes transitionButton {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  50% {
  }
  100% {
    opacity: 1;
    max-height: 500px;
  }
}
.burguerNav .linksDesktop {
  display: flex;
  padding: 40px;
  cursor: pointer;
  width: 100%;
}
.burguerNavNight .linksDesktop {
  color: #c4c4c4;
  background-color: #4e4e53;
}
.burguerNavNight .linksDesktop:hover {
  background-color: #636368;
  transition: background 0.3s ease;
}
.burguerNavDay .linksDesktop {
  color: #3d3e44;
  background-color: #d0d1d6;
}
.burguerNavDay .linksDesktop:hover {
  background-color: rgb(96, 96, 102);
  transition: background 0.3s ease;
  color: #dee1ec;
}
/* Burguer Button */

/* Buttons */
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  min-width: 120px;
}
.dayOrNight {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.setDay {
  box-shadow: 0 0 0 2px #9f9fa3e3;
}
.setDay:hover {
  box-shadow: 0 0 0 2px #29292be3;
}
.setNight {
  box-shadow: 0 0 0 2px #b4b4c4bd;
}
.setNight:hover {
  box-shadow: 0 0 0 2px #ffffffbd;
}
/* Buttons */

.pickDay {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  opacity: 0;
  
}
.pickDayAnimation {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  animation: day 1s ease;
  
  transform: translateX(12px);
}
@keyframes day {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  5% {
    
    transform: translateX(0px);
    transform: rotate(-40deg);
    opacity: 0;
  }
  100% {
    
    opacity: 1;
  }
}
.pickNight {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  
 
  opacity: 0;
  visibility: hidden;
}
.pickNightAnimation {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  animation: night 1s ease;
  
  transform: translateX(-12px);
}
@keyframes night {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  5% {
    transform: translateX(0px);
    transform: rotate(40deg);
    opacity: 0;
  }
  100% {
    
    
    opacity: 1;
  }
}
/* Circle Animation */
.icon {
  border-radius: 100%;
  box-shadow: 0 0 0 2px #cecfda67;
  width: 3.3rem;
  height: 3.3rem;
}


.whiteGrad{
  
}
/*
.whiteGrad {
  --b: 5px;
  color: #313149;
  display: inline-block;
  width: 3.3rem;
  height: 3.3rem;
  position: relative;
  z-index: 0;
}

.whiteGrad:before {
  content: "";
  position: absolute;

  inset: 0;
  background: var(--a);
  padding: var(--b);
  border-radius: 50%;
  -webkit-mask-composite: xor;
  --a: linear-gradient(-40deg, rgb(6, 223, 223) 50%, rgb(0, 255, 34) 0) ;
  --f: linear-gradient(-50deg, black 50%, red 50%);
  --g: linear-gradient(0deg, black 50%, lightgray 50%)
  
  animation: treeCircle 30s linear infinite;
  cursor: pointer;
}
@keyframes treeCircle {
  0% {
    transform: rotate(360deg);
  }
}
.whiteGrad:hover {
  transform: rotate(360deg);
  transition: transform 2s linear;
}
*/
/* Circle Animation */
/* Container Burguer Button */
.containerBtn {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 3.3rem;
  height: 3.3rem;
 
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: none;
  -webkit-tap-highlight-color: transparent;

  
}

.containerBtnNight:hover {
  box-shadow: 0 0 0 2px #cecfdaf8;
}
.containerBtnDay:hover {
  box-shadow: 0 0 0 2px #1f1f20e3;
  
}
.containerBtnDay {
  
  box-shadow: 0 0 0 2px rgba(131, 131, 134, 0.404);
}
.containerBtnNight {
  box-shadow: 0 0 0 2px rgba(230, 230, 230, 0.404);
}
.containerBtnDay span {
  color: #1f1f20e3;
  background-color: #1f1f20e3;
  
}
.containerBtnNight span {
  color: #1f1f20e3;
  background-color: #d3d3d3e3;
}
.btn {
  /*display: none;*/
  width: 25px;
  cursor: pointer;
}
span {
  display: block;
  width: 100%;
  padding: 1px;
  box-shadow: 0 1px 1px 0 rgba(153, 153, 153, 0.3);
  border-radius: 3px;
  height: 0;
  background-color: #e2e3f167;
  transition: all 0.3s;
  position: relative;
}
span + span {
  margin-top: 5px;
}
.active span:nth-child(1) {
  animation: ease 0.5s top forwards;
}
.notActive span:nth-child(1) {
  animation: ease 0.5s top-2 forwards;
}
.notActive span:nth-child(2) {
  animation: ease 0.5s scaled-2 forwards;
  box-shadow: inset 0 0 3px 0 red7;
}
.notActive span:nth-child(3) {
  animation: ease 0.5s bottom-2 forwards;
}
.active span:nth-child(2) {
  animation: ease 0.5s scaled forwards;
}
.active span:nth-child(3) {
  animation: ease 0.5s bottom forwards;
  box-shadow: inset 0 0 3px 0 #cecfda67;
}
@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 8px;
    transform: rotate(0);
  }
  100% {
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 5px;
    transform: rotate(45deg);
  }
  50% {
    top: 5px;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(0);
  }
}
@keyframes bottom {
  0% {
    bottom: 5px;
    transform: rotate(0);
  }
  50% {
    bottom: 5px;
    transform: rotate(0);
  }
  100% {
    bottom: 6px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 5px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 5px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* Container Burguer Button */
@media screen and (max-width: 1000px) {
  .nav {
    display: none;
  }
  .iconDayOrNigth {
    display: none;
  }
  .containerBtn {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  .burguerNav {
    display: none;
  }
  .iconDayOrNigthMobile{
    display: flex;
  }
}
