@font-face {
  font-family: montseBold;
  src: url("../assets/Montserrat-Medium.ttf");
}
.container {
  font-family: montseBold;
  color: #eff0ff;
  width: 100%;
  height: 135px;
  display: flex;
  justify-content: space-between;
}
.containerWhite {
  font-family: montseBold;
  color: #3d3e44;
  width: 100%;
  height: 135px;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul {
  display: flex;
  color: #cecfda;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  
  width: 700px;
  
}
.nav ul li {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 18px;
margin: 0;
  transition: color 0.3s ease;
}
.nav ul li:before {
  content: "";
  position: relative;
  display: block;
  top: 25px;
  height: 2px;
  max-width: 0;
  transition: transform 0.3s ease;
  background-color: #eff0ff;
  transition: max-width 1s cubic-bezier(0.25, 0, 0, 1);
}
.nav ul li:hover {
  color: #eff0ff;
}
.nav ul li:hover:before {
  max-width: 200px;
}

.navBlack ul {
  display: flex;
  color: #121213;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 700px;
  
}
.navBlack ul li {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 18px;
  margin: 0px;
  transition: color 0.3s ease;
}
.navBlack ul li:before {
  content: "";
  position: relative;
  display: block;
  top: 25px;
  height: 2px;
  max-width: 0;
  transition: transform 0.3s ease;
  background-color: #121213;
  transition: max-width 1s cubic-bezier(0.25, 0, 0, 1);
}
.navBlack ul li:hover {
  color: #121213;
}
.navBlack ul li:hover:before {
  max-width: 200px;
}
/**/

.burguerNavBlack{
  display: none;
  position: absolute;
  flex-direction: column;
  right: 0;
  top: 135px;
  background-color: red;
  width: 100%;

}
.navNone{
  display: none;
}
.burguerNavBlack ul{
  overflow-x: hidden;
  display: -webkit-box;
  scroll-behavior: smooth;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  list-style: none;
  padding: 0;
  margin: 0;
}
.burguerNavBlack ul li{
  padding: 40px;
  cursor: pointer;
  width: 100%;
  background-color: #3d3e44;
}
.burguerNavBlack ul li:hover{
  background-color: #232325;
  transition: background .3s ease;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  min-width: 120px;
}


.dayOrNight {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #cecfda67;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.dayOrNight:hover {
  box-shadow: 0 0 0 2px #cecfdaf8;
}
.Night {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #b4b4c4bd;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.Night:hover {
  box-shadow: 0 0 0 2px #1f1f20e3;
}
.pickDay {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  transform: translateX(50px);
  opacity: 0;
  visibility: hidden;
}
.pickDayAnimation {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;

  animation: day 1s ease;
}
@keyframes day {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.pickNight {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  transform: translateX(-50px);
  opacity: 0;
  visibility: hidden;
}
.pickNightAnimation {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;

  animation: night 1s ease;
}
@keyframes night {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.icon {
  border-radius: 100%;
  box-shadow: 0 0 0 2px #cecfda67;
  width: 3.3rem;
  height: 3.3rem;
}
.whiteGrad {
  --b: 5px;
  color: #313149;
  display: inline-block;
  width: 3.3rem;
  height: 3.3rem;
  position: relative;
  z-index: 0;
}
.whiteGrad:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: var(--c, linear-gradient(to right, #9c20aa, #6e6c6d));
  padding: var(--b);
  border-radius: 50%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  --b: 4px;
  --c: linear-gradient(-40deg, black 50%, blue 0); 
  
  transform: rotate(300deg);
  transition: transform 10s ease;
}


/* Burguer button */

.containerBtn {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #cecfda67;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: none;
  
}
.containerBtn:hover {
  box-shadow: 0 0 0 2px #cecfdaf8;
}

.containerBtnDay {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 0 2px rgba(131, 131, 134, 0.404);
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  display: none;
  
}
.containerBtnDay span{
  color: #1f1f20e3;
  background-color: #1f1f20e3;;
}
.containerBtnDay:hover {
  box-shadow: 0 0 0 2px #1f1f20e3;
}

.btn {
  /*display: none;*/
  width: 25px;
  cursor: pointer;
}
span {
  display: block;
  width: 100%;
  padding: 1px;
  box-shadow: 0 1px 1px 0 rgba(153, 153, 153, 0.3);
  border-radius: 3px;
  height: 0;
  background-color: #e2e3f167;
  transition: all 0.3s;
  position: relative;
}
span + span {
  margin-top: 5px;
}
.active span:nth-child(1) {
  
  animation: ease 0.5s top forwards;
}
.notActive span:nth-child(1) {
  animation: ease 0.5s top-2 forwards;

}
.notActive span:nth-child(2) {
  animation: ease 0.5s scaled-2 forwards;

  box-shadow: inset 0 0 3px 0 red7;
}
.notActive span:nth-child(3) {
  animation: ease 0.5s bottom-2 forwards;
 
}

.active span:nth-child(2) {
  animation: ease 0.5s scaled forwards;
  
}

.active span:nth-child(3) {
  animation: ease 0.5s bottom forwards;
  
  box-shadow: inset 0 0 3px 0 #cecfda67;
}
@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 8px;
    transform: rotate(0);
  }
  100% {
   
    top:8px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 5px;
    transform: rotate(45deg);
  }
  50% {
    top: 5px;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(0);
  }
}
@keyframes bottom {
  0% {
    bottom: 5px;
    transform: rotate(0);
  }
  50% {
    bottom: 5px;
    transform: rotate(0);
  }
  100% {
    bottom: 6px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 5px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 5px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1000px) {
  .burguerNavBlack{
    display: flex;
  }
  
  .nav{
    display: none;
  }
  .navBlack{
    display: none;
  }
  .iconDayOrNigth{
    display: none;
  
  }
  .containerBtn{
    display: flex;
  }
  .containerBtnDay{
    display: flex;
  }

}